.pagination {
  height: 50px;
  width: 430px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto 40px auto;
}

.pagination div:hover {
  color: #ff7578;
  cursor: pointer;
}

.active {
  color: #0276db;
  font-weight: bold;
}
