.review {
  width: 900px;
}

.top-section {
  display: flex;
  align-items: center;
}

.score {
  border-radius: 10px;
  background-color: #0276db;
  color: #fff;
  height: 28px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.score span {
  font-weight: bold;
}

.headline {
  font-weight: bold;
}

.feedback {
  display: flex;
}

.feedback img {
  margin-right: 10px;
}

.date {
  margin-top: 5px;
  color: #96a4b1;
}

.top-section,
.headline,
.comment,
.feedback,
.bottom-section,
.separation {
  margin-bottom: 20px;
}

.separation {
  height: 1px;
  background-color: #e3e5e8;
  border: none;
}
