.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 60vw;
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  width: 60vw;
  margin: auto;
  color: #fff;
  padding-top: 20px;
}

.reviews-title {
  align-self: flex-start;
  justify-self: center;
}

/* tablet */
@media screen and (max-width: 1024px) {
  section,
  .review-list {
    width: 80vw;
  }
  .container {
    width: 100vw;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  section,
  .review-list {
    width: 100vw;
  }
  .container {
    margin: 0;
    width: 100vw;
  }
  .review-list {
    border-radius: 0;
    padding: 15px;
  }
  section {
    align-items: center;
  }
}
